#divtitle {
    width: 100%;
    float: left;
    font-family: fantasy;
    font-size: 20px;
    padding-left: 20%;
    padding-top: 10%;
}

#divlink {
    text-align: right;
    padding-right: 25%;
    font-family: fantasy;
    padding-bottom: 10px;
}

#divtable {
    width: 800px;
    float: inherit;
    margin: auto;
    padding: 30px;
    padding-left: 5%;
    background-color: aliceblue;
}

table {
    border: 2px solid;
    font-family: fantasy;
}

th{
    border: 2px solid;
}

td {
    border: 1px solid;
}

body {
    background-color: #a3cef8;
}

a {
    color: black;
}

#a1:active.img{
    src: url(/images/html-css.png);
}

#a2:active.img{
    src: url(/images/html5.jpg);
}

#divtitlebook {
    width: 100%;
    height: 10%;
    font-family: fantasy;
    font-size: 20px;
    padding-left: 22%;
}

#divform {
    width: 800px;
    height: 450px;
    margin: auto;
    margin-top: 5%;
    background-color: aliceblue;
}

label {
    width: 300px;
    display: block;
    margin-left: 40px;
}

#lbdesc {
    display: inline-block;
    padding-top: 0%;
}

input {
    display: block;
    margin-left: 40px;
    width: 300px;
    height: 30px;
}

textarea {
    display: block;
}

#divinf{
    float: left;
    width: 50%;
    background-color: aliceblue;
}

#divdesc {
    float: right;
    width: 50%;
    background-color: aliceblue;
}

#button {
    width: 100px;
    height: 30px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 70%;
}

#button2 {
    width: 100px;
    height: 30px;
    background-color: darkgray;
    text-decoration: none;
    text-align: center;
    margin-top: 140px;
    display: block;
}

#divtitle3 {
    width: 100%;
    height: 10%;
    font-family: fantasy;
    font-size: 20px;
    padding-left: 22%;
}

#divcenter {
    width: 800px;
    height: 500px;
    background-color: aliceblue;
    margin: auto;
    padding: 30px;
}

#divimg {
    float: left;
    width: 50%;
}

#divtext {
    float: left;
    width: 50%;
}

#link {
    color: darkolivegreen;
    font-size: 30px;
}