#divtitle {
    width: 100%;
    float: left;
    font-family: fantasy;
    font-size: 20px;
    padding-left: 20%;
    padding-top: 10%;
}

#divlink {
    text-align: right;
    padding-right: 25%;
    font-family: fantasy;
    padding-bottom: 10px;
}

#divtable {
    width: 800px;
    float: inherit;
    margin: auto;
    padding: 30px;
    padding-left: 5%;
    background-color: aliceblue;
}

table {
    border: 2px solid;
    font-family: fantasy;
}

th{
    border: 2px solid;
}

td {
    border: 1px solid;
}

body {
    background-color: #a3cef8;
}

a {
    color: black;
}